/*Шрифты
Montserrat-Bold
Montserrat-Regular
font-family: 'Montserrat', sans-serif;
Regular 400, Bold 700
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    margin: 0;
    list-style: circle;
    list-style-position: inside;
}

/* Общие стили */
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Шрифта + Button */
h2 {
    font-family: 'Montserrat-Regular', sans-serif;
    /* font-weight: 400; */
    font-size: 92px;
    line-height: 102px;
    text-align: left;
    color: #232323;
}

h3 {
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 700;
    font-size: 60px;
    text-align: left;
    color: #000000;
}

h4 {
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 30px;
    line-height: 60px;
    text-align: left;
}

p {
    font-family: 'Montserrat-Regular', sans-serif;
    color: #92a1a5;
    font-size: 14px;
    line-height: 30px;
    
}

.btn {
    width: 182px;
    height: 57px;
    text-transform: uppercase;
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 700;
    line-height: 60px;
    border-radius: 29px;
    -webkit-border-radius: 29px;
    -moz-border-radius: 29px;
    -ms-border-radius: 29px;
    -o-border-radius: 29px;
    background-color: white;
}

.header-top__logo, .footer__logo {  
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 700;
    color: #000000;
    font-size: 24px;
    line-height: 30px;
}

.footer__rights, .header-top__num {
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 14px;
    line-height: 30px;
    color: #92a1a5;
}

.vision__title--red, .product__title--red {
    color: #ff343d;
}
/*Header*/
header {
    height: 100vh;
    background: rgb(239,242,246);
    background: linear-gradient(90deg, rgba(239,242,246,1) 62%, rgba(255,52,61,1) 62%);
    background-position:center;
    background-size:cover;
    display: flex;
    flex-direction: column;
    position: relative;
}

header::before {
    content: "MARS";
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #ff343d;
    font-size: 385px;
    position: absolute;
    text-shadow: 0 0 55px rgb(0 1 1 / 15%);
    z-index: 4;
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    right: -70px;
    top: -30px;
}


/*HEADER TOP*/
.header-top {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
}
/*HEADER TOP LEFT BLOCK*/
.header-top__info {
    padding-left: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-top__logo {
    margin-right: 90px;
    position: relative;
}

.header-top__logo::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #eff2f6;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 3px solid #ff343d;
    top: -2px;
}

.header-top__num {
    position: relative;
}

.header-top__num::before {
    content: "";
    width: 12px;
    height: 12px;
    display: inline-block;
    position: absolute;
    background-image:url(../assets/images/Footer-Phone.png);
    top: 8px;
    left: -20px;
}
/*HEADER TOP RIGHT BLOCK*/
.header-top__menu {
    padding-right: 180px;
    position: relative;
    z-index: 5;
}

.menu__link {
    color: white;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 16px;
    font-weight: 700;
    position: relative;
}

.menu__link::after {
    content: "";
    width: 80px;
    height: 1px;
    background-color: white;
    opacity: 30%;
    display: inline-block;
    position: absolute;
    bottom: -3px;
    right: -2px;

}
.menu__icon {
    margin-left: 40px;
}
/*HEADER CONTENT*/
.header__content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__content-slider {
}

.header__content-article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 2px solid green;
}

.article__title {
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.article__subtitle {
    width: 395px;
    
}

.header-content__image {
    position: relative;
    z-index: 5;
    border: 1px solid green;
}

.header-content__img {
    position: relative;
    z-index: 5;
}

.header-content__image::after {
    content: "";
    position: absolute;
    z-index: 3;
    width: 652px;
    height: 652px;
    background-color: #ffffff;
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    left: 20%;
    top: -8%;
}


/*About*/
.about {
    display: flex;
    height: 55vh;
    position: relative;
    z-index: 6;
}

.about__promo {
    flex: 1 1 30%;
    background-image:url(../assets/images/About__promo-bg.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-potential {
    flex: 1 1 70%;
    background-image:url(../assets/images/About-bg.png);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-size:cover;
    background-position:center;
    z-index: 3;
}

.about-potential::after {
    content: "";
    display: inline-block;
    width: 610px;
    height: 590px;
    background-color:black;
    opacity: 65%;
    position: absolute;
    z-index: 1;
}

.about-potential__title {
    color: white;
    max-width: 350px;
    margin-left: 90px;
    position: relative;
    z-index: 3;
}

.about-potential__btn {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    margin-right: 150px;
}

/*Features*/ 
.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 125px;
    padding-bottom: 125px;
}

.features__title {
    border: 1px solid red; 
    font-size: 48px;
    margin-bottom: 120px;   
}

.features__elements {
    border: 1px solid red;
    display: flex;
    justify-content:space-between;
    width: 80%;
}

.features__element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    border: 1px solid green;
    flex: 1 1 25%;
}

.element__img {
    margin-bottom: 75px;
}


/*Generation*/
.generation {
    display: flex;
}

.generation__vision {
    background-color: #232323;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vision__wrapper {
    position: relative;
    z-index: 5;
}


.vision__wrapper::before{
    content: "";
    background-image:url(../assets/images/Generation-bg-block2.png);
    display: inline-block;
    width: 272px;
    height: 544px;
    position: absolute;
    z-index: 1;
    right: -12%;
    bottom: -35%;
}

.vision__title {
    color: white;
    max-width: 755px;
    margin-bottom: 50px;
    position: relative;
    z-index: 5;
}

.vision__btn {
    align-self: flex-start;
    border: 2px solid #3b3b3b;
    background-color: transparent;
    color: white;
    position: relative;
    z-index: 5;
}


/*Products*/
.products {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 146px;
    padding-top: 134px;
}

.products__content {
    display: flex;
    flex-direction: column;
    margin-right: 130px;
}

.product__title {
    width: 755px;
    margin-bottom: 65px;
    line-height: 102px;
}

.product__btn {
    border: 2px solid #eff2f6;
}
.products__img {
}

.more {
    height: 100vh;
    background-image: url(../assets/images/More-jurneey-bg.png);
    background-size:cover;
    background-position:center;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-end;
    padding-bottom: 200px;
}

.more__title {
    color: white;
    margin-bottom: 55px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.more__btn {
    color: #318f76;
}

/*Footer*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 200px;
    padding-top: 200px;
    position: relative;
    z-index: 3;
}

.footer__logo {
    margin-bottom: 35px;
    z-index: 3;
    position: relative;
}

.footer__logo::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #eff2f6;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 3px solid #ff343d;
    top: -2px;
}

.footer__rights {
    z-index: 3;
    display: inline-block;
}

footer::after {
    position: absolute;
    content: "PHANTOM";
    display: inline-block;
    width: 1056px;
    height: 148px;
    color: white;
    text-shadow: 8px 14px 95px rgba(0, 0, 0, 0.05);
    font-size: 203px;
    font-weight: 700;
    line-height: 101px;
    font-family: 'Montserrat', sans-serif;
    z-index: 1;
    right: 23%;
    bottom: 30%;
}    